<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
	content="width=device-width, shrink-to-fit=no, initial-scale=1">

	<title>Github Trending</title>

	<!-- Bootstrap Core CSS -->
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


	<!-- Custom CSS -->
	<!-- <link href="css/simple-sidebar.css" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
<!-- 
<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="developers.js"></script>
	<script src="comp_compare.js"></script> -->



	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/jquery.js') }}"></script>


	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/bootstrap.min.js') }}" ></script>

	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/d3.v3.min.js') }}" > </script>

	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/languages.js') }}" ></script>
  

<style>
    text {
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

circle {
  fill: #ccc;
}

.node:hover circle {
  fill: orange;
}
/*
.bubbleChart{
  padding-top : 15px;

}*/
/*
svg{
  padding-top : 5px;
  padding-bottom : 55px;
}*/
</style>

</head>

<body>
	<div id="wrapper">

		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="#">GitHub Trending</a>
				</li>
				<li>
					<a href="languages">Languages</a>
				</li>
				<li>
					<a href="developers">Developers</a>
				</li>
			</ul>
		</div>

		<div class="container-fluid">
			<ul class="nav nav-tabs nav-justified" role="tablist">

				<li><a data-toggle="tab" href="#firsttab">Trending Programming Languages</a></li>
				<li><a data-toggle="tab" href="#secondtab">Simple Dashboard</a></li>

			</ul>
			<div class="tab-content">
				<div id="firsttab" class="tab-pane fade in active">
							<div  class="bubbleChart"></div>
				</div>


				<div id="secondtab" class="tab-pane fade ">
					
					<h3>Canvas for simple dashboard chart will come here</h3>
				</div>
			</div>		
		</div>
	</div>
</body>

</html>